@font-face {
	font-family: 'Brutal Type';
	src: local('Brutal Type Regular'), local('Brutal-Type-Regular'),
		url('./fonts/BrutalType.woff2') format('woff2'),
		url('./fonts/BrutalType.woff') format('woff'),
		url('BrutalType.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;

}

html {
	height: fit-content;
}

a {
	all: unset;
}



b,
strong {
	font-weight: 700
}

/* BODY */
body::backdrop {
	background-color: #141414
}

body {
	color: #fff;
	font-size: .875rem;
	font-family: "Brutal Type", "Roboto";
	font-weight: 400;
	line-height: 1.43;
	letter-spacing: .01em;
	background-color: #141414;
	border: 1px solid #333333;
	width: fit-content;
	height: auto;
	margin: 5vh auto;
	box-shadow: 0px 0px 4px 0px black;


}

.container {
	padding: 4px 16px 4px 8px;
	display: flex;
	flex-direction: row;
	background-color: #242424;
}


/* HEADER */


.icon-wrapper {
	display: flex;
	justify-content: left;
	align-items: center;

}

.icon {
	fill: white;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.app-title {
	margin: 0;
	padding-left: 7px;

}

.controls {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: end;
	height: 100%;

}

.btn-control {
	display: inline-flex;
	flex: 0 0 auto;
	color: white;
	padding: calc(20px - 0.75rem);
	overflow: visible;
	font-size: 1.5rem;
	text-align: center;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border: 0;
	cursor: pointer;
	outline: 0;
	border-radius: 4px;
	margin: 0;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	justify-content: center;
	text-decoration: none;
	background-color: transparent;
}

.btn-control.disabled {
	cursor: default;
	pointer-events: none;
	color: rgba(255, 255, 255, 0.3);
	background-color: transparent;
}

.btn-control svg {
	fill: white;
}

.min-max.disabled svg {
	fill: rgba(255, 255, 255, 0.3);
}

.btn-control:hover {
	background-color: rgba(255, 255, 255, 0.16);
}

header {
	display: flex;
	color: white;
	width: 100%;
	height: 35px;
	box-sizing: border-box;
	justify-content: space-between;
	align-content: center;
	padding: 7px;
	border-bottom: 1px solid rgb(48, 48, 48);
	font-size: 10px;
	font-weight: 400;
}

/* NAV */
nav {
	flex: 0 1 300px;
	margin-top: 0px;
	padding: 0 4px 4px 4px;

}

.card:hover,
.recent_projects:hover,
.menu_card:hover {
	outline: 1px solid #0070e0;
	background-color: #0070e0;
	color: #fff;
	cursor: pointer;
}

.recent_projects {
	width: 300px;
	height: 100px;
	border-radius: 4px;
	background-image: url(/media/recentbg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;
	margin: 4px 8px;
}

.recent_projects>.overlay_text {
	position: absolute;
	bottom: 13px;
	left: 19px;
	font-size: 20px;
	font-weight: bold;

}

.menu {
	background-color: #1a1a1a;
	font-size: 19px;
	display: flex;
	flex-direction: column;
	margin: 4px;
	padding: 4px;
	gap: 4px;
	border-radius: 4px;
	overflow: auto;


}

.menu_card {
	width: 300px;
	height: 100px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;

}

.menu_card>.overlay_text {
	position: absolute;
	bottom: 13px;
	left: 19px;
	font-size: 20px;
	font-weight: bold;
}

/* MAIN */
main {
	display: flex;
	flex-wrap: wrap;
	flex: auto;
	justify-content: flex-start;
	align-content: baseline;
	margin: 4px;
	height: auto;
	gap: 9px;
}

.main_top {
	width: 100%;
	display: inline-flex;
	
}

.search {
	height: 20px;
	width: inherit;
	display: inline-flex;
	color: #363636;
	overflow: visible;
	font-size: 1.5rem;
	text-align: center;
	border: 0;
	outline: 0;
	border-radius: 10px;
	margin: 0;
	position: relative;
	align-items: center;
	user-select: none;
	justify-content: center;
	text-decoration: none;
	background-color: #0F0F0F;
	border: 1px solid #353535;
	outline: 1px solid #1d1d1d;
	fill: #c0c0c0;

}

.search:hover {
	border: 1px solid transparent;
	outline: 1px solid #0070e0;
	color: #fff;
	fill: #fff;
}

.search svg {
	fill: inherit;
	padding-right: 4px;
}

input[type="search"] {
	border: none;
	background: transparent;
	color: inherit;
	outline: none;
}

input.search_bar {
	width: 100%;
	color: inherit;

}

.main_controls {
	display: -webkit-box;
	height: 22px;
	border: 0;
	outline: 0;
	margin: 0;
	position: relative;
	text-decoration: none;
	border-radius: 4px;
	fill: #c0c0c0;

}

.main_controls.filter,
.refresh {
	position: relative;
	fill: #e5e5e5;
	
	padding: 0 4px 0 4px;
	border: 0;
	position: relative;
	align-items: center;
	user-select: none;
	vertical-align: middle;
	justify-content: center;
	text-decoration: none;
	background-color: transparent;
}

.main_controls.filter:hover,
.refresh:hover {
	fill: #fff;
	background-color: #383838;
}

.filter_dropdown{
	display: none;
	position: absolute;
	background-color: #383838;
	width: fit-content;
	white-space: nowrap;
	padding: 8px 8px 8px 0;
	border: 1px solid #484848;
	-webkit-transform: translate(-65px, 0);
			transform: translate(-65px, 0);
	
}
input[type="radio"] {
	display: none;
	
  }
input[type="radio"] + label {
	cursor: pointer;
	padding: 0   0  0  20px;
	position: relative;
	padding-right: 100%;
	
	
	
	
  }
input[type="radio"] + label:before {
	left: 4px;
	top: 4px;
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
  }

input[type="radio"]:checked + label:before {
	background: white;
}

li{
	cursor: pointer;
	list-style-type: none;
	width: 100%;
	padding:  4px 0 4px 8px;
	color:#fff;
	
}
.dropdown-content ul,
.dropdown-content li {
  margin: 0;
  padding: 0;
}
.dropdown-content ul {
	list-style: none;
  }
.filter_dropdown li:hover{
	background-color: #0070e0;
	
}

.main_controls.filter:hover .filter_dropdown {
	display:block;	
}

.card {
	display: flex;
	flex-direction: column;
	width: 102px;
	height: 153px;
	border-radius: 4px;
	overflow: hidden;
	background-color: #2f2f2f;
	box-shadow: 4px 4px 4px #1a1a1a;
	color: #c0c0c0;

}

.card .image {
	min-width: 102px;
	min-height: 102px;
	background-size: cover;
	background-position: center;
}

.content_title {
	font-size: 9px;
	line-height: 1;
	flex-grow: 1;
	margin: 4px 4px 0px 4px;

}

.content_version {
	font-size: 9px;
	text-align: left;
	margin: 0px 4px 4px 4px;

}

/* ASIDE */
aside {
	display: none;
	background-color: #e5e5e5;
	float: right;
	width: 0%;
	text-align: center;
}

section {
	background-color: #e5e5e5;
	text-align: center;
	border: 1px solid black;
}




/* FOOTER */
footer {
	display: flex;
	width: 100%;
	background-color: #1a1a1a;
	text-align: center;
	padding: 10px 0 10px 0;
	border-top: 1px solid rgb(48, 48, 48);

}

.footer_content {
	margin: auto;
}

@media only screen and (max-width: 1160px) {

}

/* MEDIA */
@media only screen and (max-width: 580px) {

	body {
		margin: auto;
	}

	.menu_card,
	
	aside,
	.recent_projects{
		width: 100%;

		margin: 0 auto 0 auto;


	}

	.main_top{
		margin: 4px 16px 4px 0;
	}
	.recent_projects {
		margin: auto;
	}

	nav {
		justify-content: center;
		min-width: 220px;

	}

	.container {
		display: block;
		padding: 4px;

	

	}

	html {
		margin: 0;

	}

	.footer {
		display: block;
	}
}